APP_ENV="dev" # dev, test, staging, prod
APP_PORT=3100
APP_NAME="EMFI School" # Useful when sending mail for branding
HOST_NAME="api.school.emfi.cm" # Hostname of this API
API_GROUP="/api/v1"
ALLOWED_HOSTS="localhost:3100,localhost:3000" # Allowed hosts to interact with the API
# GIN the API library for handling HTTP, Websocket and many others requests
GIN_MODE="debug" # debug, release

# --------------- Redis ---------------
SERVER_REDIS_HOST="localhost"
SERVER_REDIS_PORT=6379
SERVER_REDIS_USER="" # No need for username since it require to add redis-auth-module to the server. Skiped!
SERVER_REDIS_PASSWORD="yyq23_jkkj"
SERVER_REDIS_DB=0
SERVER_REDIS_SAVE_IN_SECONDS="3600"

# --------------- PostgresSQL ---------------
SERVER_POSTGRES_HOST="localhost"
SERVER_POSTGRES_PORT=5432
SERVER_POSTGRES_USER="postgres"
SERVER_POSTGRES_PASSWORD="j8D5T9p2"
SERVER_POSTGRES_DB="sBJRxa_YKW"
SERVER_POSTGRES_SSL_MODE="disable"
SERVER_POSTGRES_TIME_ZONE="Africa/Douala"

# --------------- Argon2id ---------------
ARGON_PARAM_MEMORY_L=128
ARGON_PARAM_MEMORY_R=1024
ARGON_PARAM_ITERATIONS=4
ARGON_PARAM_SALT_LENGTH=16
ARGON_PARAM_KEY_LENGTH=32

# --------------- JWT ---------------
# JWT expires
JWT_EXPIRES_DEFAULT=10 # 10 Minutes
JWT_EXPIRES_SIGN_IN=60 # 60 Minutes
JWT_EXPIRES_SIGN_IN_STAY_CONNECTED=30 # 30 Days
# JWT auth issuer passphrase
JWT_ISSUER_AUTH_PASSPHRASE="KShhZDY1TkpRQ2x6cHlzZDIxKgo"
# JWT session issuer passphrase
JWT_ISSUER_SESSION_PASSPHRASE="c2QxM0AjJkZRZGlxOTJtbmhsYQo"
JWT_ISSUER_SESSION_API_KEY_PASSPHRASE="bzFAM3huYSgpKjIyMU5KSFNBCg"
# JWT profile issuer passphrase
JWT_ISSUER_PROFILE_UPDATE_PASSWORD_PASSPHRASE="da2san2s9Q2x6cHlzZDIxKgo"
JWT_ISSUER_PROFILE_UPDATE_EMAIL_PASSPHRASE="BiJJSAa12xcKSDKLS19DSAKDAKJ"
JWT_ISSUER_PROFILE_UPDATE_PHONE_NUMBER_PASSPHRASE="kJJ1E996clz"

# --------------- GOOGLE reCAPTCHA ---------------
GOOGLE_RECAPTCHA_SITE_KEY=""
GOOGLE_RECAPTCHA_SCORE=0.5

# --------------- SMTP ---------------
SMTP_HOST="smtp.gmail.com" # Default settings with Gmail. You can change as you want
SMTP_PORT=587
SMTP_USERNAME="prosper.abouar@gmail.com"
SMTP_PASSWORD="gzle daql dyci dhxt"
SMTP_SENDER="prosper.abouar@gmail.com"

# --------------- SMS ---------------
TWILIO_ACCOUNT_SID=""
TWILIO_API_KEY=""
TWILIO_SECRET=""
TWILIO_SENDER_NUMBER="+237690909090" # With associated country code. E.g. +237690909090

# --------------- Login with Google ---------------
# Used to login user with Google. Required scopes: https://www.googleapis.com/auth/plus.login and https://www.googleapis.com/auth/userinfo.profile
GOOGLE_PLUS_CLIENT_ID=""

# --------------- Login with Facebook ---------------
FACEBOOK_APP_NAME="" # Your application name on Facebook developer account
FACEBOOK_APP_ID="" # Your application id
FACEBOOK_CLIENT_SECRET="" # Your client secret
# URL used to retrieve token info(user id, expires, application id, ...)
FACEBOOK_DEBUG_TOKEN_URL="https://graph.facebook.com/debug_token?input_token="
# URL used to retrieve user profile information. You should also add appsecret_proof argument
FACEBOOK_PROFILE_URL="https://graph.facebook.com/me?fields=id,name,last_name,first_name,email,languages,picture.width(100).height(100).as(picture_small),picture.width(720).height(720).as(picture_large)&access_token="


# --------------- Database fixtures ---------------
ROLE_DEFAULT="default"
ROLE_ADMIN="admin"
ROLE_DIRECTOR="director"
ROLE_TEACHER="teacher"
ROLE_STUDENT="student"
ROLE_PARENT="parent"

USER_ADMIN_EMAIL="prosper.abouar@gmail.com"
USER_ADMIN_PASSWORD="Prosper123!"
