<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>School API Reference</title>

    <script src="https://unpkg.com/@stoplight/elements/web-components.min.js"></script>
    <link href="https://unpkg.com/@stoplight/elements/styles.min.css" rel="stylesheet">

    <link href="/assets/favicon.ico" rel="icon" type="image/x-icon">
</head>

<body>

    <elements-api apiDescriptionUrl="/api/v1/openapi.yaml" router="hash" />

</body>

</html>